.header
{
	background-color: $black;
	padding: 10px;
	.content
	{
		margin: 0px auto;
		width: 50%;
    	display: flex;
		align-items: center;
		justify-content: space-between;
		.left
		{
			display: flex;
			.brand
			{
				h1
				{
					color: white;
					font-weight: normal;
					font-size: 25px;
					span
					{
						color: $yellow;
					}
				}
			}
			input
			{
				width: 320px;
				border: none;
				color: black;
				padding: 5px 10px;
				border-radius: 5px;
				margin-left: 20px;
				background-color: rgba(255, 255, 255, 0.233);
				&::placeholder
				{
					color: white;
				}
			}
		}
		.right
		{
			display: flex;
			justify-content: flex-end;

			.getStrarted
			{

			}
		}
	}
}
